@()

@main("BBAnalyzer") {

    <div id="description">
		<h2>HTML での利用</h2>
		<div id="action" style="padding: 20px;">
			<ul class="mymenu">
				<li>
					<input type="button" class="btn primary" href="javascript:void(0);" onClick="location.href='@routes.BBAnalyzer.kuromoji()'" value="Kuromoji テスト" />
				</li>
				<li>
					<input type="button" class="btn primary" href="javascript:void(0);" onClick="location.href='@routes.BBAnalyzer.classifyAllUsers()'" value="全ユーザを分類" />
				</li>
				<li>
					<input type="button" class="btn primary" href="javascript:void(0);" onClick="location.href='@routes.BBAnalyzer.trainAllItemClassifiers()'" value="全識別器の学習" />
				</li>
			</ul>
		</div>
	</div>

}
