@(reqForm : play.data.Form[models.request.bbanalyzer.BBAnalyzerRequest], result : models.response.bbanalyzer.BBAnalyzerResult)

@import helper._
@implicitField = @{ FieldConstructor(basicFieldConstructorTemplate.f) }

@main("Testing Kuromoji - BBAnalyzer") {

    @form(action = routes.BBAnalyzer.procKuromoji()) {
    	@textarea(reqForm("body"), '_label -> "本文", '_class -> "largeTextArea")
    	
    	<div id="actions" style="margin-left: 8em;">
    		<input type="submit" value="Submit" class="btn primary"> or
			<a href="@routes.BBAnalyzer.kuromoji()" class="btn">Clear</a>
    	</div>
    }

	@if(result != null) {
		<div class="well">
			
			@for(i <- 0 until result.getSurfaces().size()) {
				<a href="javascript:void(0);" class="myshow">@(result.getSurfaces().get(i))<span>@(result.getFeatures().get(i))</span></a>
			}
			
		</div>
	}
}
