html {
    background: #eee;
}

header h1.fill {
	margin-top: auto;
	margin-bottom: auto;

	font-size: x-large;

	padding: 0.4em 1.1em;

	color: #bfbfbf;
}


section#main {
    position: relative;
    margin-top: 55px;
    padding: 2em 5em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
}

section#main .topRight {
    position: absolute;
    right: 50px;
    top: 70px;
}






fieldset.edit {
	margin-top: 40px;
}
#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}


.largeTextArea textarea {
	width: 88%;
	height: 200px;
}

.myshow { text-decoration:none;color:blue; }
a.myshow span {
  display:none; padding:5px; margin-left:10px; margin-top: 30px; width:auto; 
  border:1px solid #cccccc; color:#000033;background-color:#ffffff;
 }
a.myshow:hover span{ display:inline; position:absolute; }