@(createForm: Form[models.request.mockbb.admin.CreateItemRequest])
@import helper.twitterBootstrap._
@import helper._

@main("掲示追加") {

    <div id="description">
		<h2>新規掲示の追加</h2>
	</div>

	@form(controllers.mockbb.routes.Admin.create()) {
		<fieldset>
			@inputDate(createForm("dateShow"), '_label -> "掲示開始日")
			@inputDate(createForm("dateExec"), '_label -> "実施開始日")
			@inputText(createForm("author"), '_label -> "掲示者")
			@inputText(createForm("title"), '_label -> "件名")
			@checkbox(createForm("isReference"), '_label -> "参考")
			
			@textarea(createForm("body"))
		</fieldset>

		<div class="actions">
			<input type="submit" value="Create" class="btn primary"> or
			<a href="@controllers.mockbb.routes.Admin.manage()" class="btn">Cancel</a>
        </
	}
	
}
