@(dto: models.view.mockbb.admin.ManageDto)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = dto.currentSortBy
    var order = dto.currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(dto.currentSortBy == newSortBy) {
            if(dto.currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    controllers.mockbb.routes.Admin.manage(newPage, sortBy, order, dto.currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(dto.currentSortBy == key) @{if(dto.currentOrder == "desc") "headerSortUp" else "headerSortDown"}">
        <a href="@link(dto.currentPage, key)">@title</a>
    </th>
}

@main("掲示管理") {

	<div id="actions">
		<form action="@link(0, null)" method="GET">
			<input type="search" id="searchbox" name="f" value="@dto.currentFilter" placeholder="Filter by author or title">
			<input type="submit" id="searchsubmit" value="Filter" class="btn primary">
		</form>
		<a class="btn success" id="add" href="@controllers.mockbb.routes.Admin.createItemForm()">掲示追加</a>
	</div>

	<div class="item_list">
    	<table class="item_list">
    		<thead>
				<tr>
					@header("id_date", "id")
					@header("date_show", "掲示開始日")
					@header("date_exec", "実施開始日")
					@header("author", "掲示者")
					@header("title", "件名")
					@header("is_read", "既読")
					@header("is_flagged", "強調")
					@header("is_reference", "参考")
				</tr>
    		</thead>

    		<tbody>
		       	@for(item <- dto.items) {
					<tr>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@item.getId()</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@helper.mockbb.defaultDate(item.getDateShow())</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@helper.mockbb.defaultDate(item.getDateExec())</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@item.getAuthor()</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@item.getTitle()</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@item.isRead()</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@item.isFlagged()</a></td>
						<td><a href="@controllers.mockbb.routes.Admin.editItemForm(item.getId())">@item.isReference()</a></td>
					</tr>
		       	}
    		</tbody>

    	</table>
	</div>

	<div id="pagination" class="pagination">
		<ul>
			@if( dto.hasPrevPage ) {
				<li class="prev">
					<a href="@link(dto.currentPage - 1, null)">&larr; Previous</a>
				</li>
			} else {
				<li class="prev disabled">
					<a>&larr; Previous</a>
 				</li>
			}
			<li class="current">
				<a>Displaying @((dto.currentPage-1) * models.setting.MockBBSetting.PAGE_SIZE + 1) - @(dto.currentPage * models.setting.MockBBSetting.PAGE_SIZE) </a>
			</li>
			@if( dto.hasNextPage ) {
				<li class="prev">
					<a href="@link(dto.currentPage + 1, null)">Next &rarr;</a>
				</li>
			} else {
				<li class="prev disabled">
					<a>Next &rarr;</a>
 				</li>
			}
		</ul>
	</div>

}
