@(dto: models.view.mockbb.GetListDto)





<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-31j">
	
	<meta http-equiv="pragma"		 content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires"		 content="thu, 01 dec 1994 16:00:00 gmt">
	<script language="javascript" src="@routes.Assets.at("javascripts/mockbb/keijiban.js")"/></script>

	<title>掲示板 </title>
	<style type="text/css">
	<!--	
	.popupStyle {
		position:			absolute;
		font-size:			10pt;
		font-color:			#000000;
		background-color:	#ffffff;
		border:				1px solid #000000;
		visibility:			hidden;
	}
	-->
	</style>
	<script language="javascript" type="text/javascript">
	<!--
		
		var	check_login_time	= 600 ;
	
		
		function onLoad() {
			if (check_login_time > 0) {
				
				window.setTimeout("checkLogin()", check_login_time * 1000);
			}
		}

		
		function changdisplay() {

			var	uri		= "";
			var	checked	= false;

			checked	= document.form1.check_no_read.checked;

			var flag = checkparam();
			if (!flag){
					if (checked){
						document.form1.check_no_read.checked = false;
					}					
					else{
						document.form1.check_no_read.checked = true;
					}
				return;	
			}
			
			if (document.form1.no_read.value == checked) {
				
				return false;
			}
			document.form1.no_read.value = checked;
			
			f_event("reload");
		}

		
		function changdisplay2() {

			var	checked	= false;

			checked	= document.form1.check_on_flag.checked;

			var flag = checkparam();
			if (!flag){
					if (checked){
						document.form1.check_on_flag.checked = false;
					}					
					else{
						document.form1.check_on_flag.checked = true;
					}
				return;	
			}
			
			if (document.form1.on_flag.value == checked) {
				
				return false;
			}
			document.form1.on_flag.value = checked;
			
			f_event("reload");
		}

		
		function changdisplay3() {

			var	checked	= false;

			checked	= document.form1.check_reference_flag.checked;

			var flag = checkparam();
			if (!flag){
					if (checked){
						document.form1.check_reference_flag.checked = false;
					}					
					else{
						document.form1.check_reference_flag.checked = true;
					}
				return;	
			}
			
			if (document.form1.reference_flag.value == checked) {
				
				return false;
			}
			document.form1.reference_flag.value = checked;
			
			f_event("reload");
		}
		
		
		function changOrder(id, kind) {
			var flag = checkparam();
			if (!flag){
				return;	
			}
			var	uri		= "";

			if (id != null) {
				if (document.form1.order.value == id) {
					if (kind != null) {
						if (document.form1.order_kind.value != "desc") {
							kind	= "desc";
						} else {
							kind	= "asc";
						}						
					}
				}
			}
			if (id != null) {
				document.form1.order.value = id;
			}
			if (kind != null) {
				document.form1.order_kind.value = kind;
			}
			
			f_event("reload");

		}
		
		function changOrder2(id, kind) {
			var flag = checkparam();
			if (!flag){
				return;	
			}
			document.form1.order.value = id;
			document.form1.order_kind.value = kind;

			f_event("reload");
		}

		
		function detail(index) {
		    var     width       = 670;
		    var     height      = 700;
			var		id_date		= "";
			var		id_index	= "";
		    var		sub_window	= null;
			var		uri			= "";
			var		checked		= true;

			if (document.form1.info_length.value > 1) {
				id_date		= document.form1.id_date[index].value;
				id_index	= document.form1.id_index[index].value;
			} else {
				id_date		= document.form1.id_date.value;
				id_index	= document.form1.id_index.value;
			}
			
			uri	= document.form1.action
					+	"?uri=readcontrol";
			uri	= uri + "&" + "id_date=" + id_date + "&id_index=" + id_index
							+ "&checked=" + checked;
			
			checkreadhttpReq = createHttpRequest(resCheckRead);
			if (checkreadhttpReq) {
				checkreadhttpReq.open("GET", uri, true);
				checkreadhttpReq.send(null);
				
				if (document.form1.info_length.value > 1){
					document.form1.check_mk[index].checked = true;
				}else{
					document.form1.check_mk.checked = true;					
				}
				
			} else {
				alert("掲示情報の自動既読設定は利用できません。");
			}	
			setTimeout("reload()",100);			

			uri = "detail" + "?id_date=" + id_date + "&id_index=" + id_index;
			
			sub_window	= window.open(uri, "_blank", "width=" + width + ",height=" + height + ",scrollbars,resizable=yes");
			sub_window.focus();
		}
		
		
		function edit() {
		    var     width       = 790;
		    var     height      = 770;
		    var		sub_window	= null;
	
			sub_window	= f_open(width, height, "KeijibanSubWindow", "edit", "");
			sub_window.focus();
		}

		
		function list() {
		    var     width       = 670;
		    var     height      = 700;
		    var		sub_window	= null;

			sub_window	= f_open(width, height, "_blank", "list", "ref=keijiban");
			sub_window.focus();

		}
		
		
		var	checkreadhttpReq	= null;
		function checkRead(index) {
			var		checked		= false;		
			var		id_date		= "";
			var		id_index	= "";

			if (document.form1.info_length.value > 1) {
				checked		= document.form1.check_mk[index].checked;
				id_date		= document.form1.id_date[index].value;
				id_index	= document.form1.id_index[index].value;
			} else {
				checked		= document.form1.check_mk.checked;
				id_date		= document.form1.id_date.value;
				id_index	= document.form1.id_index.value;
			}

			var flag = checkparam();
			if (!flag){
				if (document.form1.info_length.value > 1) {
					if (checked){
						document.form1.check_mk[index].checked = false;
					}					
					else{
						document.form1.check_mk[index].checked = true;
					}
				} else {
					if (checked){
						document.form1.check_mk.checked = false;
					}					
					else{
						document.form1.check_mk.checked = true;
					}
				}
				return;	
			}

			var	uri		= "";
			
			uri	= document.form1.action
					+	"?uri=readcontrol";
			uri	= uri + "&" + "id_date=" + id_date + "&id_index=" + id_index
							+ "&checked=" + checked;
			
			checkreadhttpReq = createHttpRequest(resCheckRead);
			if (checkreadhttpReq) {
				checkreadhttpReq.open("GET", uri, true);
				checkreadhttpReq.send(null);
			} else {
				alert("掲示情報の未読/既読編集機能は利用できません。");
			}	
			setTimeout("reload()",100);
		}

		
		function checkFlag(index) {
			var		checked		= false;		
			var		id_date		= "";
			var		id_index	= "";

			if (document.form1.info_length.value > 1) {
				checked		= document.form1.check_flag[index].checked;
				id_date		= document.form1.id_date[index].value;
				id_index	= document.form1.id_index[index].value;
			} else {
				checked		= document.form1.check_flag.checked;
				id_date		= document.form1.id_date.value;
				id_index	= document.form1.id_index.value;
			}
			
			var flag = checkparam();
			
			if (!flag){
				if (document.form1.info_length.value > 1) {
					if (checked){
						document.form1.check_flag[index].checked = false;
					}					
					else{
						document.form1.check_flag[index].checked = true;
					}
				} else {
					if (checked){
						document.form1.check_flag.checked = false;
					}					
					else{
						document.form1.check_flag.checked = true;
					}
				}
				return;	
			}
			
			var	uri		= "";
			
			uri	= document.form1.action
					+	"?uri=flagcontrol";
			uri	= uri + "&" + "id_date=" + id_date + "&id_index=" + id_index
							+ "&checked=" + checked;
			
			checkreadhttpReq = createHttpRequest(resCheckRead);
			if (checkreadhttpReq) {
				checkreadhttpReq.open("GET", uri, true);
				checkreadhttpReq.send(null);
			} else {
				alert("掲示情報のフラグ機能は利用できません。");
			}	
			setTimeout("reload()",100);
		}

		
		function reload(){
			var flag = checkparam();
			if(flag){
				f_event("reload");
			}
		}

		
		function checkparam() {
			var keyword = "";
			
			if(document.form1.search_keyword){
				keyword = document.form1.search_keyword.value;
			}
			
			if (keyword.length == 1){ 
				alert("キーワードは2文字以上入力してください。");
				return false;
			}
			return true;
		}
		
		
		function resCheckRead() {
			if ((checkreadhttpReq.readyState == 4) && (checkreadhttpReq.status == 200)) {
				
			}
		}

		
		var	checkloginhttpReq	= null;
		function checkLogin() {
			var	uri		= "";
			
			uri	= document.form1.action	+ "?uri=login_check";

			checkloginhttpReq = createHttpRequest(resCheckLogin);
			if (checkloginhttpReq) {
				checkloginhttpReq.open("GET", uri, true);
				checkloginhttpReq.send(null);
			} else {
				alert("セッションタイムアウト抑止機能は利用できません。");
			}			
			window.setTimeout("checkLogin()", check_login_time * 1000);
		}
		
		function resCheckLogin() {
			if ((checkloginhttpReq.readyState == 4) && (checkloginhttpReq.status == 200)) {
				
			}
		}
	//	-->
	</script>
</head>
<body style="margin: 5px;" onload="onLoad();">
@helper.form(action = controllers.routes.MockBB.getList, 'target -> "_self", 'name -> "form1") {
<input type="hidden" name="uri" value="keijiban"><input type="hidden" name="next_uri" value=""><input type="hidden" name="event_code" value="">
	@if(dto.noReadFlag) {
		<input type="hidden" name="no_read" value="true" >
	} else {
		<input type="hidden" name="no_read" value="false" >
	}
	@if(dto.onFlagFlag) {
		<input type="hidden" name="on_flag" value="true" >
	} else {
		<input type="hidden" name="on_flag" value="false" >
	}
	@if(dto.referenceFlag) {
		<input type="hidden" name="reference_flag" value="true" >
	} else {
		<input type="hidden" name="reference_flag" value="false" >
	}
	@if(dto.currentOrder != null) {
		<input type="hidden" name="order" value="@dto.currentOrder" >
	} else {
		<input type="hidden" name="order" value="date_show" >
	}
	@if(dto.currentOrderKind != null) {
		<input type="hidden" name="order_kind" value="@dto.currentOrderKind" >
	} else {
		<input type="hidden" name="order_kind" value="desc" >
	}
	<div style="font-size: 12px;">	
		@if(dto.noReadFlag) {
			<input type="checkbox" name="check_no_read" value="true" onclick="changdisplay();" checked>既読非表示&nbsp;
		} else {
			<input type="checkbox" name="check_no_read" value="true" onclick="changdisplay();" >既読非表示&nbsp;
		}
		@if(dto.onFlagFlag) {
			<input type="checkbox" name="check_on_flag" value="true" onclick="changdisplay2();" checked>強調のみ表示&nbsp;
		} else {
			<input type="checkbox" name="check_on_flag" value="true" onclick="changdisplay2();" >強調のみ表示&nbsp;
		}
		@if(dto.referenceFlag) {
			<input type="checkbox" name="check_reference_flag" value="true" onclick="changdisplay3();" checked>参考非表示&nbsp;
		} else {
			<input type="checkbox" name="check_reference_flag" value="true" onclick="changdisplay3();" >参考非表示&nbsp;
		}
		
		&nbsp;&nbsp;&nbsp;&nbsp;
			
			
	</div>
	<div align="right" style="font-size: 12px;">
		検索キーワード
		<input style="width: 150px" type="text" name="search_keyword" value="">
		<input style="width: 60px;" type="button" value="検索" onclick="reload()">	
		<input style="width: 60px;" type="button" value="一括表示" onclick="list()">	
	</div>

	<br>
	<div><!--<span style="color: #0033FF; font-weight: bold;font-size: 12px;">情報はありません。</span>--></div>
	<input type="hidden" name="info_length" value="@dto.items.size()">
	
	<table>
		<tr>
			<td nowrap style="width: 30px;" valign="top" align="center">
				@if(dto.currentOrder != null && dto.currentOrder.equals("is_read")) {
					@if(dto.currentOrderKind != null && dto.currentOrderKind.equals("desc")) {
						<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('is_read', 'asc'); return false;" >既読</a>
					} else {
						<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('is_read', 'desc'); return false;" >既読</a>
					}
				} else {
					<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('is_read', 'asc'); return false;" >既読</a>
				}
					
			</td>
			<td nowrap style="width: 30px;" valign="top" align="center">
				@if(dto.currentOrder != null && dto.currentOrder.equals("is_flagged")) {
					@if(dto.currentOrderKind != null && dto.currentOrderKind.equals("desc")) {
						<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('is_flagged', 'asc'); return false;" >強調</a>
					} else {
						<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('is_flagged', 'desc'); return false;" >強調</a>
					}
				} else {
					<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('is_flagged', 'asc'); return false;" >強調</a>
				}
					
			</td>
			<td nowrap style="width: 65px;" valign="top">
				@if(dto.currentOrder != null && dto.currentOrder.equals("date_show")) {
					@if(dto.currentOrderKind != null && dto.currentOrderKind.equals("desc")) {
						&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('date_show', 'asc'); return false;" onmouseover="mouseOver('掲示が開始された日付です。', 100, 100, 250, 50);" onmouseout="mouseOut();" >掲示開始</a>
					} else {
						&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('date_show', 'desc'); return false;" onmouseover="mouseOver('掲示が開始された日付です。', 100, 100, 250, 50);" onmouseout="mouseOut();" >掲示開始</a>
					}
				} else {
					&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('date_show', 'asc'); return false;" onmouseover="mouseOver('掲示が開始された日付です。', 100, 100, 250, 50);" onmouseout="mouseOut();" >掲示開始</a>
				}
			</td>
			<td style="width: 3px;">&nbsp;</td>
			<td nowrap style="width: 65px;" valign="top">
				@if(dto.currentOrder != null && dto.currentOrder.equals("date_exec")) {
					@if(dto.currentOrderKind != null && dto.currentOrderKind.equals("desc")) {
						&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('date_exec', 'asc'); return false;" onmouseover="mouseOver('掲示内容のイベントが開始される日付です。', 100, 100, 250, 50);" onmouseout="mouseOut();" >実施開始</a>
					} else {
						&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('date_exec', 'desc'); return false;" onmouseover="mouseOver('掲示内容のイベントが開始される日付です。', 100, 100, 250, 50);" onmouseout="mouseOut();" >実施開始</a>
					}
				} else {
					&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('date_exec', 'asc'); return false;" onmouseover="mouseOver('掲示内容のイベントが開始される日付です。', 100, 100, 250, 50);" onmouseout="mouseOut();" >実施開始</a>
				}
			</td>
			<td style="width: 3px;">&nbsp;</td>
			<td nowrap width="60%" valign="top" align="center">
				@if(dto.currentOrder != null && dto.currentOrder.equals("title")) {
					@if(dto.currentOrderKind != null && dto.currentOrderKind.equals("desc")) {
						<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('title', 'asc'); return false;" >件名</a>
					} else {
						<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('title', 'desc'); return false;" >件名</a>
					}
				} else {
					<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('title', 'asc'); return false;" >件名</a>
				}
			</td>
			<td style="width: 3px;">&nbsp;</td>
			<td nowrap  width="30%" valign="top">
				@if(dto.currentOrder != null && dto.currentOrder.equals("author")) {
					@if(dto.currentOrderKind != null && dto.currentOrderKind.equals("desc")) {
						&nbsp;&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('author', 'asc'); return false;" >掲示者</a>
					} else {
						&nbsp;&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('author', 'desc'); return false;" >掲示者</a>
					}
				} else {
					&nbsp;&nbsp;<a style="color: #0033FF; font-size: 12px;" href="#" onclick="changOrder('author', 'asc'); return false;" >掲示者</a>
				}
			</td>
		</tr>
		
		@for((item, count) <- dto.items.zipWithIndex) {
			<tr>
				<td nowrap style="color: #ff0000;" align="center" valign="top">
					@if(item.isRead()) {
						<input type="checkbox" name="check_mk" checked onclick="checkRead(@count);">&nbsp;
					} else {
						<input type="checkbox" name="check_mk" onclick="checkRead(@count);">&nbsp;
					}
					<input type="hidden" name="id_date"  value="@item.getId().getIdDate()"/>
					<input type="hidden" name="id_index" value="@item.getId().getIdIndex()"/>
				</td>
				<td nowrap style="color: #ff0000;" align="center" valign="top">
					@if(item.isFlagged()) {
						<input type="checkbox" name="check_flag" checked onclick="checkFlag(@count);" checked>&nbsp;
					} else {
						<input type="checkbox" name="check_flag" onclick="checkFlag(@count);">&nbsp;
					}
				</td>			
				<td nowrap style="color: #ff0000; font-size: 12px;" valign="top">
					@helper.mockbb.defaultDate(item.getDateShow())
				</td>
				<td>&nbsp;</td>
				<td nowrap style="color: #ff0000; font-size: 12px;" valign="top">
					@helper.mockbb.defaultDate(item.getDateExec())
				</td>
				<td>&nbsp;</td>
				@if(item.isFlagged()) {
					<td style="font-size: 12px;" valign="top" bgcolor="#FFFF00">
				} else { @if(item.isReference()) {
					<td style="font-size: 12px;" valign="top" bgcolor="#CCCCCC">
				} else {
					<td style="font-size: 12px;" valign="top" bgcolor="#FFFFFF">
				} }
					
						<a style="font-size: 12px;" href="#" onclick="detail(@count); return false;">@item.getTitle()</a>
					
					
				</td>
				<td>&nbsp;</td>
				<td style="font-size: 12px;" valign="top">
					@item.getAuthor()
				</td>
			</tr>
		}
		
		
		
	</table>
		
	<div id="id_popup" class="popupStyle"></div>
}

</body>
</html>